/* Colour modes */
:root[color-mode="dark"] {
    --background: #081217;
    --box-background: rgba(22, 22, 22, 0.8);
    --highlight: rgba(120, 200, 255, 1);
    --text: white;
    --text-inverted: black;
}
:root[color-mode="light"] {
    --background: #95C8EE;
    --box-background: rgba(224, 224, 224, 0.8);
    --highlight: rgba(0, 40, 120, 1);
    --text: black;
    --text-inverted: white;
}

/* Overall */
html, body, div#map { 
    width:100%; 
    height:100%; 
    margin:0; 
    overflow: hidden;
    font-family: Exo, Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    cursor: default;
}

/* Main layout */
div#top {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1000;
}
div#top h1 {
    margin: 0.3em 0.5em 0.3em 0.5em;
}
div#menu {
    float: right;
    margin: 0.4em 0.5em 0 0.5em;
}
div#menu button {
    margin-left: 0.5em;
    padding: 0.5em;
}
div#map { 
    width:auto; 
    height:100%; 
    margin:0; 
    overflow: hidden;
}
div.rightbox {
    width: 500px;
    position: absolute;
    top: 50px;
    right: 0px;
    margin: 20px;
    padding: 20px;
    z-index: 1000;
    display: none;
}
#tracktablearea {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}
table.trackTable {
    width: 460px;
}

/* Top bar tyles */
div#top {
    color: var(--highlight);
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: .06em;
}
div#top h1 {
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
    text-shadow: -3px 0 2px var(--box-background), 0 3px 2px var(--box-background), 3px 0 2px var(--box-background), 0 -3px 2px var(--box-background);
}
div#menu button {
    font-family: Exo, Arial, sans-serif;
    font-size: 0.9em;
    background-color: var(--box-background);
    border: 1px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);
}
span.menubuttonicon {
    position: relative;
    top: 3px;
}
div#menu button.loading {
    background-color: rgba(49, 33, 22, 0.4);
    border: 1px solid rgba(255, 200, 120, 1);
    color: rgba(255, 200, 120, 1);
    display: none;
}
div#menu button.problem {
    background-color: rgba(80, 0, 0, 0.4);
    border: 1px solid rgba(255, 0, 0, 1);
    color: rgba(255, 0, 0, 1);
    display: none;
}

/* Right box styles */
div.rightbox {
    background-color: var(--box-background);
    border: 1px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);
}
div#infopanel h2 {
    margin: 0;
    text-align: center;
}
div#infopanel p {
    text-align: center;
}
div#infopanel p:not(:last-child) {
    margin-bottom: 1em;
}
div#infopanel p:last-child {
    margin-bottom: 0;
}
div#infopanel a, div#infopanel a:visited, div#infopanel span.highlight {
    color: var(--text);
}
div#configpanel h2 {
    margin: 0;
    text-align: center;
}
div.configPanelSection {
    margin-top: 1.5em;
}
div.configPanelSection p {
    margin-bottom: 0.2em;
}
button.configButton {
    margin-left: 0.5em;
    padding: 0.3em;
    font-family: Exo, Arial, sans-serif;
    font-size: 0.9em;    
    background-color: var(--box-background);
    border: 1px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);
}
label.configLabel {
    margin-right: 0.5em;
    display: inline-block;
}
select.configSelect {
    margin-left: 0.5em;
    padding: 0.3em;
    font-family: Exo, Arial, sans-serif;
    font-size: 0.9em;    
    background-color: var(--box-background);
    border: 1px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);
}
table.trackTable {
    height: 90%;
    overflow-y: scroll;
    color: var(--highlight);
}
table.trackTable tr {
    color: var(--text);
}
table.trackTable th {
    color: var(--highlight);
}
table.trackTable tr.selected {
    background-color: var(--highlight);
    color: var(--text-inverted);
}
table.trackTable td {
    text-align: center;
}
table.trackTable td.name {
    text-align: left;
    max-width: 140px;
    overflow: hidden;
}
table.trackTable th.name {
    text-align: left;
}

/* Leaflet.js mods */
.leaflet-container .leaflet-control-attribution {
    background: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    div#top h1 {
        display: none;
    }
    div.rightbox {
        width: 70%;
        font-size: 0.6em;
    }
    #tracktablearea {
        overflow-x: scroll;
    }
    table.trackTable {
        width: 0px;
        font-size: 0.7em;
    }
}
