/* Overall */
html, body, div#map { 
    width:100%; 
    height:100%; 
    margin:0; 
    overflow: hidden;
    font-family: Exo, Arial, sans-serif;
    background-color: #012;
    color: white;
}

/* Layout */
div#top {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1em auto;
    padding: 0.5em;
    z-index: 1000;
    display: none; /* shown by JS */
}
div#map { 
    width:auto; 
    height:100%; 
    margin:0; 
    overflow: hidden;
}
div#bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
}
div.bottompanel, div.problempanel, div.loadingpanel {
    margin: 1em;
    padding: 0.5em;
}

/* Styles */
div#top {
    font-size: 14px;
    background-color: rgba(22, 33, 49, 0.8);
    border: 1px solid rgba(120, 200, 255, 1);
    border-radius: 3px;
    color: rgba(120, 200, 255, 1);
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: .06em;
}
div.bottompanel {
    font-size: 14px;
    background-color: rgba(22, 33, 49, 0.8);
    border: 1px solid rgba(120, 200, 255, 1);
    border-radius: 3px;
    color: rgba(120, 200, 255, 1);
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: .06em;
    line-height: 1.4em;
}
div.loadingpanel {
    font-size: 14px;
    background-color: rgba(49, 33, 22, 0.8);
    border: 1px solid rgba(255, 200, 120, 1);
    border-radius: 3px;
    color: rgba(255, 200, 120, 1);
    box-sizing: border-box;
    letter-spacing: .06em;
    line-height: 1.4em;
    animation: blinker 2s linear infinite;
    display: inline-block;
}
div.problempanel {
    font-size: 14px;
    background-color: rgba(80, 0, 0, 0.8);
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 3px;
    color: rgba(255, 0, 0, 1);
    box-sizing: border-box;
    letter-spacing: .06em;
    line-height: 1.4em;
    animation: blinker 2s linear infinite;
    display: none;
}
h2, h3, h4 {
    text-align: center;
    text-transform: uppercase;
}
span.tagline {
    font-size: 0.6em;
    padding-left: 4em;
    display: inline-block;
    white-space: nowrap;
}
span.tagline a {
    color: white;
}
label {
    white-space: nowrap;
}

@keyframes blinker {
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
}

/* Leaflet.js mods */
.leaflet-container .leaflet-control-attribution {
    background: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    span.tagline {
        display: none;
    }
}